body {
    margin: 0;
    padding: 0;
}



div#logo{
    background-image: url('../img/nau_logo.jpg');
    height: 100px;
    text-align: center;
    border: #111;
    border-width: 10px;
    background-repeat: no-repeat;
    background-position: 50%;
}

div#logo h1{
    margin-left: 50px;
    text-align: left;
    line-height: 65px;
}

div#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #147FA9;
}

div#header li a:hover {
    background-color:#42444e;
}

div#header li a {
    display: inline-table;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

div#header li#profile_li {
    float: right;
}

div#header li {
    float: left;
}

div#header h1 {
    height: 80px;
    line-height: 80px;
    margin: 0;
    padding-left: 10px;
    background: #e0e0e0;
    color: #292929;
}

div#wrapper {
    float: left;
    margin-left: 18%;
}

div#navigation{
    float: left;
    width: 200px;
    height: 500px;
    background: #e0e0e0;
    padding: 20px;
    margin: 20px;

}

div#navigation li{
    list-style-type: none;
}

div#footer {
    background: #42444e;
    color: #fff;
    height: 60px;
}

div#footer p {
    padding: 20px 10px;
}

div#footer {
    clear: both;
    width: 100%;

    background: brown;
    color: #fff;
    height: 60px;
}

table#content_table {
    background-color:#e0e0e0;
    margin-top: 20px;
    font-size: 20px;
}

table#content_table tbody:hover {
    background-color: brown;
}

table,thead,tbody {
    border-collapse: collapse;
    border-bottom: 1px solid #111;
}

table#content_table img {
    width: 150px;
    height: 150px;
    margin: 5px;
}

table#content_table p {
    margin-left: 5px;
}

tbody{
    border-spacing: 10px;
}

table, td { 
    padding-left:  5px;
    padding-right: 5px;
}
