body {
    margin: 0;
    padding: 0;
}

body {
    color: #292929;
}

h3 {
    padding: 0px 15px;
    margin: 0;
    margin-top: 10px;
}

marquee {
    height: 60px;
    line-height: 55px;
    margin: 0;
    font-size: 20px;
    background:brown;
    color: #e0e0e0;
}


div#header h1 {
    height: 80px;
    line-height: 80px;
    margin: 0;
    padding-left: 10px;
    background: #e0e0e0;
    color: #147FA9;
}



div#navigation {
    float: left;
    width: 200px;
    height: 916px;
}

div#navigation h2 {
    padding: 10px;
}

div#navigation ul {
    font-size: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

div#navigation ul a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

div#navigation ul a:hover {
    background-color:brown;
    color: white;
}




dt {
    padding-right: 1px;
    line-height: 1.5;
}

div#footer {
    background: brown;
    color: #fff;
    height: 60px;
}

div#footer p {
    padding: 20px 10px;
}

div#footer {
    clear: both;
    width: 100%
}

#content {
    margin-left: 5px;
    margin-top: 5px;
    float: left;
    height: 900px;
    
    width: calc(100% - 270px);
    position:absolute;
}

iframe#menu_frame{
    width:100%+1px; 
    height:100%;
    border: none;
}